{% extends 'base.html.twig' %}

{% block title %}Hello MailchimpController!{% endblock %}

{% block body %}

    <h3>Subscribe to our newsletter</h3>
<form action="{{ path('app_mailchimp_subscribe') }}">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
{% endblock %}
